<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header__title" translate>
					Brawl.Gameplay
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row">
						<div class="documents__title" translate>
							Brawl.Selected brawlers
						</div>
						{{brawlers.length}}
						<div class="documents-triggers">
							<!-- routerLink="/brawler/{{brawler.Name}}" -->
							<div
								*ngFor="let brawler of brawlers; index as i"
								class="documents-triggers__wrap"
							>
								{{i + 1}}
								<core-brawl [brawler]="brawler"></core-brawl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
