<div class="documents-wrapper">
	<div class="documents-container">
		<div class="documents-list">
			<div class="documents-header">
				<div class="documents-header-left"></div>
				<div class="documents-header__title">
					<span translate>Brawler.Team builder</span>
					<span *ngIf="submition['mode']">
						- {{submition['mode']}}</span
					>
				</div>
				<div class="burger-wrap" class="burger-wrap">
					<i class="material-icons" (click)="reset()">refresh</i>
				</div>
			</div>
			<div class="documents-main">
				<div class="documents-main-content">
					<div class="documents-main-row" *ngIf="!submition['mode']">
						<wform
							(wChange)="calculateBrawls()"
							[submition]="submition"
							[config]="modesForm"
						></wform>
					</div>
					<div class="documents-main-row">
						<wform
							(wChange)="calculateBrawls()"
							[submition]="submition"
							[config]="mineForm"
						></wform>

						<div class="documents-tags">
							<div
								class="documents-tags__wrap"
								*ngIf="submition['mineOne']"
							>
								<div class="documents-tags__item green">
									{{submition['mineOne']}} -
									{{role[submition['mineOne']]}}
								</div>
							</div>
							<div
								class="documents-tags__wrap"
								*ngIf="submition['mineTwo']"
							>
								<div class="documents-tags__item green">
									{{submition['mineTwo']}} -
									{{role[submition['mineTwo']]}}
								</div>
							</div>
							<div
								class="documents-tags__wrap"
								*ngIf="submition['mineThree']"
							>
								<div class="documents-tags__item green">
									{{submition['mineThree']}} -
									{{role[submition['mineThree']]}}
								</div>
							</div>
							<ng-container
								*ngIf="!submition['mineOne'] || !submition['mineTwo'] || !submition['mineThree']"
							>
								<div
									*ngFor="let brawl of suggestedBrawls"
									class="documents-tags__wrap"
								>
									<div class="documents-tags__item">
										{{brawl.Name}} - {{brawl.Role}}
									</div>
								</div>
							</ng-container>
						</div>
					</div>
					<div class="documents-main-row">
						<wform
							(wChange)="calculateBrawls()"
							[submition]="submition"
							[config]="opponentForm"
						></wform>

						<div class="documents-tags">
							<div
								class="documents-tags__wrap"
								*ngIf="submition['oppoentOne']"
							>
								<div class="documents-tags__item green">
									{{submition['oppoentOne']}} -
									{{role[submition['oppoentOne']]}}
								</div>
							</div>
							<div
								class="documents-tags__wrap"
								*ngIf="submition['oppoentTwo']"
							>
								<div class="documents-tags__item green">
									{{submition['oppoentTwo']}} -
									{{role[submition['oppoentTwo']]}}
								</div>
							</div>
							<div
								class="documents-tags__wrap"
								*ngIf="submition['oppoentThree']"
							>
								<div class="documents-tags__item green">
									{{submition['oppoentThree']}} -
									{{role[submition['oppoentThree']]}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
